{% extends 'base.jinja2' %}
{% block head %}
    <title>Index</title>
{% endblock %}

{% block content %}
    <h1 style="text-align: center; margin-top: 50px">TFG, Sistema De Asistencia A La Decisión Para Béisbol De Fantasía</h1>
    <br>
    <p style="text-align: center";>Instrucciones: Para elegir un jugador a tu equipo presionar el botón pick, cuando un
    oponente elija a un jugador hacer click en el botón remove del respectivo jugador.</p>
    <br>
    <p style="text-align: center;">Para comenzar un draft presionar el botón de Iniciar.</p>
    <br>
    <p style="text-align: center;">Puedes hacer click en el nombre de los jugadores para abrir las estadísticas de los últimos
        5 años.</p>
    <form action="/" method="post" style="margin-top:200px; text-align: center;">
  <input type="submit" value="Iniciar">
</form>
{% endblock %}